html, body {
	padding: 0px;
	width: 100%;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	text-align: center;
}
.header_container {
	font-size: 2rem;
	margin: 65px 10px;
}
.header_container .header {
	margin-bottom: 1rem;
}
.header_container .subheader {
	font-size: 1.2rem;
	font-style: italic;
}
#clickbox {
	position: relative;
	width: 300px;
	height: 300px;
	display: inline-block;
	background: rgb( 200,200,200 );
	border: 10px dashed rgb( 220,220,220 );
	border-radius: 20px;
	cursor: pointer;
}
#clickbox:before {
	content: "Click Here";
	position: absolute;
	width: 200px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -20px;
	color: rgb( 255,255,255 );
	font-weight: bold;
	font-size: 2rem;
}
#results {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
#results .section {
	background: rgb( 255,255,255 );
	border: 3px solid rgb( 235,235,235 );
	border-radius: 20px;
	padding: 10px 20px;
	margin-bottom: 10px;
}
#results .section .title {
	font-weight: bold;
	color: rgb( 40,40,40 );
	border-bottom: 2px solid rgb( 240,240,240 );
	margin-bottom: 10px;
}
#results .section .test {
	position: relative;
	color: rgb( 100,100,100 );
	margin-bottom: 0.2rem;
	margin-right: -1rem;
}
#results .section .test.on {
	color: rgb( 50,50,50 );
}
#results .section .test:before {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	top: 0.08rem;
	left: -0.01rem;
	background: rgb( 200,200,200 );
	border-radius: 1rem;
}
#results .section .test.on:before {
	background: rgb( 0,200,0 );
}
#fork_banner {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0px;
}